body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: black;
}

main {
    position: relative; /*permite posicionar elementos hijos*/
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
    width: 70%;
    background-color: hsl(234, 48%, 41%);
    border-radius: 30px;
    padding:20px;
}

.logo img {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 1.25em;
    left: 1.25em;
    border-radius: 1em;
}
.sectionEncrip {
    width: 100%; /* Ocupa el 40% del ancho de la pantalla */
    padding: 40px; /* Espacio interno (ajústalo según tus necesidades) */
}
/* Estilo para el textarea de entrada */
.ingresotexto {
    width: 100%; /* Ocupa todo el ancho disponible */
    height: 60vh; /* Altura deseada para el textarea */
    resize: vertical; /* Permite redimensionar verticalmente */
    margin-top: 20vh; /*espacion supeior del main */
    margin-bottom: 5v; /* Espacio inferior */
    background-color: rgba(255, 255, 255, 0); /* Color blanco con 20% de transparencia */
    border: none;
    color: #ffffff; /* Color del texto */
    font-size: x-large;

}
.ingresotexto::placeholder {
    color: white; /* Establece el color del placeholder a blanco */
    opacity: 0.7; /* Ajusta la opacidad */
}

/* Estilo para los botones */
.boton1 button {
    width: 150px; /* Ancho deseado para el botón */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Centra el texto horizontalmente */
    background-color: #0074D9; /* Color de fondo (puedes cambiarlo) */
    color: #ffffff; /* Color del texto (puedes cambiarlo) */
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.boton1 button:nth-child(2) { /*seleccione el segundo boton */
    background-color: white; /* Cambia a tu color deseado */
    color:#042c50; /* Puedes cambiar el color del texto si es necesario */
}

/* Estilo para la sección de salida */
.sectionDes {
    position: relative /*establesco como posicion relativa para modificar el boton*/;
    display: flex;
    flex-direction: column;
    align-items:center; /* Alinea los elementos en el centro */
    width: 50%; /* 30 del main*/
    height: 95vh;
    padding: 10px;
}

.salidatexto {
    position: relative;
    width:100%;/* Ocupa todo el ancho disponible */
    height:100%; /* Altura deseada para el textarea */
    resize: vertical; /* Permite redimensionar verticalmente */
    margin-bottom: 10px; /* Espacio inferior */
    border-radius: 25px;
}
.sectionDes button {
    position: absolute;
    bottom: 7vh;
    left: 50%; /*centro orizontalmente*/
    transform: translateX(-50%); /*ajusto para centrar orizontalmente*/
    width: 150px; /* Ancho deseado para el botón */
    padding: 10px; /* Espacio interno */
    text-align: center; /* Centra el texto horizontalmente */
    background-color: white; /* Color de fondo (puedes cambiarlo) */
    color:#042c50; /* Color del texto (puedes cambiarlo) */
    border: 1px  solid #042c50 ;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 10px; 
}


@media screen and (max-width: 768px){
    /* Estilo para el cuerpo de la página */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

/* Estilo para el contenedor principal */
main {
    width: 90%;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
    background-color: hsl(234, 22%, 91%);
    border-radius: 30px;
    padding: 20px;
}

/* Estilo para el logo */
.logo img {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 1.25em;
    left: 1.25em;
    border-radius: 1em;
}

/* Estilo para la sección de entrada */
.sectionEncrip {
    width: 40%;
    padding: 20px;
}

/* Estilo para el textarea de entrada */
.ingresotexto {
    width: 100%;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
}

/* Estilo para los botones */
.boton1 button {
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: #0074D9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para la sección de salida */
.sectionDes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

/* Estilo para el textarea de salida */
.salidatexto {
    width: 100%;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
}

/* Estilo para el botón de copiar */
.sectionDes button {
    max-width: 100%;
}


@media screen and (max-width: 480px) {
   
    .logo img{
        width: 20%;
    }
    main{
        width: auto;
        display:inline;
       background-color:hsl(234, 48%, 41%);
       
    }
    .sectionEncrip {
        width:auto; /* Ocupa el 40% del ancho de la pantalla */
        padding: 10px; /* Espacio interno (ajústalo según tus necesidades) */

    }
    .sectionDes{
        width:auto;
        height: auto;
        align-items:stretch; /*establece la configuracion predeterminada*/
    }
    /* Estilo para el textarea de entrada */
    .ingresotexto{
        width: auto; /* Ocupa todo el ancho disponible */
        resize: vertical; /* Permite redimensionar verticalmente */
        margin-top: 10vh; /* Espacio inferior */
        transform: translateX(-5%); /*ajusto para centrar orizontalmente*/
       color:white;
    }
    .ingresotexto::placeholder {
        color: #094c86; /* Establece el color del placeholder a blanco */
        opacity: 0.7; /* Ajusta la opacidad */
    }
    .salidatexto {
        width: auto;
        padding-top: 3%;
        font-size: x-large;
    }
    
    /* Estilo para los botones */
    .boton1 button {
        width: auto; /* Ancho deseado para el botón */
        padding: 6px; /* Espacio interno */
        background-color: #52687b; /* Color de fondo (puedes cambiarlo) */
        color: #ffffff; /* Color del texto (puedes cambiarlo) */
        border-radius: 5px;
        cursor: pointer;
    }
    .boton1 button:nth-child(2) { /*seleccione el segundo boton */
        background-color: white; /* Cambia a tu color deseado */
        color:#042c50; /* Puedes cambiar el color del texto si es necesario */
        border: 1px solid #042c50 ;
    }
    .sectionDes button {
        position: absolute;
        bottom: 7vh;
        left: 50%; /*centro orizontalmente*/
        transform: translateX(-50%); /*ajusto para centrar orizontalmente*/
        width: auto; /* Ancho deseado para el botón */
        padding: 10px; /* Espacio interno */
        text-align: center; /* Centra el texto horizontalmente */
        background-color: white; /* Color de fondo (puedes cambiarlo) */
        color:#042c50; /* Color del texto (puedes cambiarlo) */
        border: 1px  solid #042c50 ;
        border-radius: 9px;
        cursor: pointer;
    }
    
 }
}
