/* styles.css */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

main {
    width: 90%;
    background-color: hsl(234, 22%, 91%);
    border-radius: 30px;
    padding: 2% 5%;
}

.logo img {
    max-width: 100px;
    height: auto;
    position: absolute;
    top: 1.25em;
    left: 1.25em;
    border-radius: 1em;
}

/* Estilo para el textarea de entrada */
.ingresotexto {
    width: 100%;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
}

/* Estilo para los botones */
.boton1 button {
    width: 150px;
    padding: 10px;
    text-align: center;
    background-color: #0074D9;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Estilo para la sección de salida */
.sectionDes {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.salidatexto {
    width: 100%;
    height: 200px;
    resize: vertical;
    margin-bottom: 10px;
}

.salidatexto,
button {
    max-width: 100%;
}